body {
  font-size: 16px;
  font-family: "Archivo Narrow", sans-serif;
  text-align: center;
}

.hide {
  display: none;
}

h1 {
  padding: 0.5em;
  font-size: 2.5em;
  font-family: "Julius Sans One", sans-serif;
  color:lightslategrey
}

img {
  border-radius: 50%;
  border: 3px solid #943fd7;
}

.random-peeps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.random-peeps div {
  flex-basis: 250px;
  text-align: center;
  padding: 4.5em;
  border: 1px solid #943fd7;
  background-color: #e9beeb;
  margin: 8em;
  -webkit-box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.377);
  box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.377);
}
.num-users label {
  font-size: 1.25em;
}

#users {
  margin: 0 0.75em;
  padding: 0.5em;
  color: steelblue;
  font-weight: bold;
  font-size: 1em;
  font-family: "Archivo Narrow", sans-serif;
}
